.footer {
  width: 100%;
  background-color: #343a40;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .username {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

.footer span {
  color: white;
  font-family: sans-serif;
}

.footer a img {
  margin-top: 4px;
}
