  
  html, body {
    font-size: 12px;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px; /* reset */
    background-color: black;
  }

  .top-row > div, .top-row2 > div, .bottom-row > div, .main-row > div  {
    max-width: 1200px;
    margin: auto;
    padding: 0px 30px;
  }

  .top-row, .bottom-row   {
    color: white;
    background-color: black;
    background-image: url("/background_footer_vbi.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
  }

  .top-row2   {
    background-color: #eee;
    color: black;
  }

  .main-row   {
    background-color: white;
    color: black;   
  }



  /* Container for flexboxes */

  .header, .footer1 {
    display: -webkit-flex;
    display: flex;    
    justify-content: space-between	;
    align-items: center;
    border-bottom: solid 1px gray;
  }

  .header {
    height: 100px;
  }

  .top-nav {
    display: -webkit-flex;
    display: flex;    
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }  

  .top-nav > a {
    display: inline-block;
    padding: 5px 0px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: 600;
  }

  .top-nav > a:hover, .top-nav-selecionado {
    color: #ccc!important;
    border-bottom: solid lightgray 2px;
  }

  .top-nav2 {
    /* display: -webkit-flex;
    display: flex; */
  }  
  
  .main {
    background-color: white;
  }
  
  /* Style the footer */
  .footer1, .footer2 {
    height: 60px;
    color: gray;
    font-weight: 600;
  }

