  *{
    /* border: solid 1px green; */
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px; /* reset */
  }


  body, .mainWrap   {
    background-color: #f4f6f8; /* essa parte aqui, quando aplicada ao "body", é importante porque as vezes tem "sobra" entre o footer e o resto da aplicação (sem essa parte aqui esta "sobra" ficaria em branco, o que não é bom!) */
  }


  .maxScreenWidth {
    max-width: 1920px; /* essa parte aqui é para por o limite no quanto a tela se "estica" quando o monitor é largo demais (obs: se a tela se "esticar" demais, pode trazer problemas ruins para a UI) */
    margin: auto 
  }


  .globalWrap { /* esse globalWrap com essas 3 configurações** permite que o footer use "margin-top: auto;" e fique fixado sempre no fundo da página; **(min-height: 100vh; display: flex; flex-direction: column;) */
      min-height: 100vh;
      display: flex;
      flex-direction: column;
  }



  .topWrap,  .bottomWrap, .mainWrap  {
    padding-left: 30px; /* essa parte aqui faz com que sempre exista uma "coluna" de 30px no início e no final da tela */
    padding-right: 30px; /* essa parte aqui faz com que sempre exista uma "coluna" de 30px no início e no final da tela */
  }





  .topWrap, .bottomWrap   {
    color: white;

    background-color: black; /* para backup caso a imagem não carregue */
    background-image: url("./example.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    
    align-items: left;
    justify-content: flex-start;
  }


  .bottomWrap {
    margin-top: auto; /*Essa configuração (junto a configuração também no GlobalWrap) permite que o footer fique fixado sempre no fundo da página*/ 
  }



  /* Container for flexboxes */
  .header, .footer1 {
    display: -webkit-flex;
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-between	;
    align-items: center;
    border-bottom: solid 1px dimgray;
  }

  
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .topNav {
    display: -webkit-flex;
    display: flex; 
    flex-wrap: wrap;   
    justify-content: space-between;
    align-items: flex-end;
    height: 60px;
    width: 550px;
    margin: 0;
  }  



  .topNav > a {
    display: inline-block;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    font-weight: 600;
  }

  .topNav > a:hover {
    color: lightgray!important;
    border-bottom: solid lightgray 2px;
  }



   /* Style the footer */
   .footer1, .footer2 {
    height: 60px;
    color: dimgray;
    font-weight: 600;
    font-size: 12px
  }


  
  
  .MuiDropzoneArea-icon {  /*Realacionado a deixar mais cinza o dropzone onde carrega-se os arquivos*/
    color: dimgray !important;
  }

  .MuiDropzoneArea-text { /*Realacionado a deixar mais cinza o dropzone onde carrega-se os arquivos*/
    color: dimgray !important;
  }

  .MuiInputBase-inputAdornedEnd { /*Obs: isso aqui faz com o valor do input de data fique mais cinza* (muito embora não consigo ficar complemente seguro que isso possa ter efeito colateral na estilização de outro elemento de input)*/ 
    color: dimgray !important;
  } 


  #datatable4b td  {
      color: dimgray;
  }


  #datatable4b .MuiTableRow-head, 
  #datatable4b .MuiTablePagination-caption, 
  #datatable4b .MuiTablePagination-select,
  #datatable4b .MuiTablePagination-selectIcon  {
      display: none;
  }