


  *{
    /* border: solid 1px green; */
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px; /* reset */
  }


  body  {
    background-color: #f4f6f8; /* essa parte aqui, quando aplicada ao "body", é importante porque as vezes tem "sobra" entre o footer e o resto da aplicação (sem essa parte aqui esta "sobra" ficaria em branco, o que não é bom!) */
  }


  .maxScreenWidth {
    max-width: 1920px; /* essa parte aqui é para por o limite no quanto a tela se "estica" quando o monitor é largo demais (obs: se a tela se "esticar" demais, pode trazer problemas ruins para a UI) */
    margin: auto 
  }


  .globalWrap { /* esse globalWrap com essas 3 configurações** permite que o footer use "margin-top: auto;" e fique fixado sempre no fundo da página; **(min-height: 100vh; display: flex; flex-direction: column;) */
      min-height: 100vh;
      display: flex;
      flex-direction: column;
  }



  .topWrap,  .bottomWrap, .mainWrap  {
    padding-left: 30px; /* essa parte aqui faz com que sempre exista uma "coluna" de 30px no início e no final da tela */
    padding-right: 30px; /* essa parte aqui faz com que sempre exista uma "coluna" de 30px no início e no final da tela */
  }


  .ypto {
    
    color: white !important;
    background-color: black; /* para backup caso a imagem não carregue */
    background-image: url("./shared/BackgroundVbi.png");
    background-position: center;
    background-repeat: repeat;
  }


  .topWrap, .bottomWrap   {
    color: white;

    background-color: black; /* para backup caso a imagem não carregue */
    background-image: url("./shared/BackgroundVbi.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    
    
    align-items: left;
    justify-content: flex-start;
  }


  .bottomWrap {
    margin-top: auto; /*Essa configuração (junto a configuração também no GlobalWrap) permite que o footer fique fixado sempre no fundo da página*/ 
  }



  /* Container for flexboxes */
  .header, .footer1{
    display: -webkit-flex;
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
  }

  
  .header {
    padding: 0px 0px;
  }

  .topNav {
    display: -webkit-flex;
    display: flex; 
    flex-wrap: wrap;   
    justify-content: space-between;
    align-items: flex-end;
    /* height: 60px; */
    width: 960px;
    margin: 0;
    padding: 0px 0px;
  }  



  .topNav a {
    display: inline-block;
    color: white;
    padding: 15px 0px;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    margin-right: 10px;
  }

   .topNav > .active {
    color: white;
    border-bottom: solid white 1px;  
    padding: 15px 0px 14px;  
    /* text-decoration: underline; */
  }

  .topNav > a:hover {
    color: lightgray;
    border-bottom: solid lightgray 1px;  
    padding: 15px 0px 14px;  
  }



   /* Estilizar o footer */
   .footer1, .footer2 {
    /* height: 60px; */
    color: dimgray;
    padding: 15px 0px;
    font-weight: 600;
    font-size: 12px;
    text-align: left
  }

  .footer2 {
    border-top: solid 1px dimgray;
  }


  

  /* Customizar componentes do MUI */
  
    #DataTable2 td  {
        color: dimgray;
    }

    #DataTable2 .MuiPaper-root > .MuiToolbar-root {
        border-bottom: solid 1px lightgray ;
        /* background-color: yellow; */
    }


    #DataTable2 .MuiTableRow-head, 
    #DataTable2 .MuiTablePagination-caption, 
    #DataTable2 .MuiTablePagination-select,
    #DataTable2 .MuiTablePagination-selectIcon  {
        display: none;
    }


    #DatePickers2 .MuiInputBase-inputAdornedEnd { /*Obs: isso aqui faz com o valor do input de data fique mais cinza* (muito embora não consigo ficar complemente seguro que isso possa ter efeito colateral na estilização de outro elemento de input)*/ 
      color: dimgray !important;
    } 


    
    #Dropzone .MuiDropzoneArea-icon {  /*Realacionado a deixar mais cinza o dropzone onde carrega-se os arquivos*/
      color: dimgray !important;
    }

    #Dropzone .MuiDropzoneArea-text {  
      /*Realacionado a deixar mais cinza o dropzone onde carrega-se os arquivos*/
      /* color: dimgray !important; */
      font-size: 1.1rem !important;
      font-weight: 600 !important;
    }


  /* Melhorar essa parte aqui $$$ */

    .meuTitulo, #DataTable1 .MuiTypography-h6, #DataTable2 .MuiTypography-h6 {
      font-size: 1.1rem !important;
      font-weight: 600 !important;
    }